.module-box-wrapper-mod-22-1 {
	margin-bottom: 15px;
}
.module-box-mod-22-1 {
	border: 1px solid article_color_h;
	padding: 15px;
}
.module-box-mod-22-1 .author-head {
	padding-bottom: 15px;
}
.module-box-mod-22-1 .author-image {
	text-align: center;
}
.module-box-mod-22-1 img {
	border-radius: 100px;
}