.module-box-mod-22-2 {
	border: 1px solid article_color_h;
	padding: 15px;
}
.module-box-mod-22-2 .author-head {
	padding-bottom: 15px;
}
.module-box-mod-22-2 .author-image {
	text-align: center;
}
.module-box-mod-22-2 img {
	border-radius: 100px;
}